# /etc/systemd/system/plant_dashboard-daemon.service
[Unit]
Description=Plant Dashboard Bluetooth Daemon
After=network.target

[Service]
User=pi
Group=pi

# 実行するスクリプトをbluetooth_daemon.pyに戻す
ExecStart=/home/pi/plant_dashboard/.venv/bin/python /home/pi/plant_dashboard/bluetooth_daemon.py

WorkingDirectory=/home/pi/plant_dashboard
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target